/* Acordion */
.view_orders_listing {
  margin: 0;
  padding-right: 55px;

  .accordion-heading .accordion-toggle {

    .title-left {
      background: url("../images/orders_listing_button_left.png") no-repeat;
      height: 39px;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
    }
    &.title {
      background: url("../images/orders_listing_button_bg.png") repeat-x;
      color: #3f4344;
      display: block;
      font-family: casperregular;
      font-style: normal;
      margin-bottom: 5px;
      padding: 8px 26px 11px;
      position: relative;
      text-shadow: 0 1px 0 rgba(255,255,255,0.54);
      cursor: pointer;
      .quantity {
        &.color-red {
          color:#ff0000;
        }
      }
    }
    .title-right {
      background: url("../images/orders_listing_button_right.png") no-repeat;
      height: 39px;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
    }
  }
  .accordion-heading.active{
    -webkit-transition: background 0.35s ease;
    -moz-transition: background 0.35s ease;
    -o-transition: background 0.35s ease;
    transition: background 0.35s ease;

      .title-left {
        background: url("../images/button_yellow_left.png") no-repeat;
      }
      .title {
        background: url("../images/button_yellow.png") repeat-x;
      }
      .title-right {
        background: url("../images/button_yellow_right.png") no-repeat;
      }
  }
  .accordion-body {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li.icons {
        background: url("../images/view_orders_listing_line.png") center bottom no-repeat;
        color:#393939;
        padding: 5px 47px 15px 35px;
      }
    }
    .edit-form-wrap {
      display: none;

      &.active {
        display: block;
      }

      .edit-form-inner {
        margin-bottom: 13px;

        .delete-icon {
          top:67px !important;
        }

        .comments-count {
          background-color: #e4e4e4;
          border-top: 1px solid #bdbdbd;
          border-radius: 4px;
          color:#3b3b3b;
          float: left;
          margin-right: 5px;
          padding: 5px 4px;
          text-align: center;

          span {
            display: block;
          }
        }

        textarea,
        .ankors-editor {
          background: #ffffff;
          border: 1px solid #ccc;
          border-radius: 4px;
          color:#3f4344;
          height: 50px;
          padding: 10px;
          width: 335px;

          &:focus {
            border-color: #ffc000;
            box-shadow: 0 1px 2px rgba(228,154,55,0.74) inset;
          }
        }
        .ankors-editor{margin-left: 30px;}
      }
    }
  }
}

/* Tabs */
.tabs-wrapper {

  .nav-tabs {
    font-family: Verdana, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-bottom: -3px;

      a {
        color: #4a84c5;
        display: block;
        font-weight: bold;
        padding: 12px 20px;
      }
      &.active {
        background: url("../images/tab_right_corners_bg.png") right top no-repeat;

        a {
          background: url("../images/tab_left_corners_bg.png") 0 0 no-repeat;
          color:#3f4344;
        }
      }
      &.first.active a {
        background: url("../images/tab_left_direct_corners_bg.png") 0 0 no-repeat;
      }
    }
  }
  .tab-content {
    background: url("../images/tabs_bg.png") no-repeat 0 0;
    font-family: Verdana, sans-serif;
    padding: 10px;

    #orderDescription {

      .order-description-wrapper {
        font-size: 12px;

        .title {
          display: block;
        }
        h4 {
          margin-bottom: 5px;
        }
        p {
          margin-top: 0;
        }
        .span4 {
          width: 226px;
        }
        .grey-text {
          color:#909090;
          font-style: italic;
        }

      }
    }
    #orderComments {
      padding: 0 10px;
    }
  }
}

/* All Icons style */
.icons {
  position: relative;

  .icon {
    cursor: pointer;
    position: absolute;

    &.small-icon {
      height: 10px;
      width: 10px;

      &.allowed-icon {
        background: url("../images/allowed_small.png") center no-repeat;
      }
      &.ban-icon {
        background: url("../images/ban_small.png") center no-repeat;
      }
      &.right-icon {
        right: -19px;
      }
      &.left-icon {
        left: -19px;
      }
    }

    &.large-icon {
      height: 22px;
      width: 22px;

      &.time_icon {
        background: url("../images/clock.png") center no-repeat;
      }
      &.allowed-icon {
        background: url("../images/allowed_large.png") center no-repeat;
      }
      &.ban-icon {
        background: url("../images/ban_large.png") center no-repeat;
      }
      &.warning-icon {
        background: url("../images/warning_large.png") center no-repeat;
      }
      &.no-comments-icon {
        background: url("../images/no_comments.png") center no-repeat;
      }
      &.delete-icon {
        background: url("../images/delete_icon.png") center no-repeat;
        display: none;

        &:hover {
          background: url("../images/delete_hover_icon.png") center no-repeat;
        }
      }
      &.comments-icon {
        background: url("../images/comments_icon.png") center no-repeat;
        color:#fff;
        font-size:8px;
        font-style: normal;
        padding-bottom: 1px;
        text-align: center;
      }
      &.error-icon {
        background: url("../images/large-error-icon.png") center no-repeat;
      }
      &.right-icon {
        right: 3px;
      }
      &.left-icon {
        left: 3px;
      }
    }
    &.top-icon {
      top:6px;
    }
    &.right_content-icon {
      right: 27px;
    }
    &.center-icon {
      margin-top: -15px;
      right: 27px;
      top: 50%;
    }
  }
  &:hover {

    .delete-icon {
      display: block !important;
    }
  }

}

/* Error Box */
.error-box {
  background: rgb(254,249,249);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGY1ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(254,249,249,1) 0%, rgba(253,245,248,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,249,249,1)), color-stop(100%,rgba(253,245,248,1)));
  background: -webkit-linear-gradient(top,  rgba(254,249,249,1) 0%,rgba(253,245,248,1) 100%);
  background: -o-linear-gradient(top,  rgba(254,249,249,1) 0%,rgba(253,245,248,1) 100%);
  background: -ms-linear-gradient(top,  rgba(254,249,249,1) 0%,rgba(253,245,248,1) 100%);
  background: linear-gradient(to bottom,  rgba(254,249,249,1) 0%,rgba(253,245,248,1) 100%);
  border: solid 1px #f8c8c8;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(186,132,132,.65);
  color:#000;
  font-family: "casperregular";
  margin: 5px 0;
  padding: 10px 20px 20px 45px;

  .top-triangle {
    background: url("../images/error-box-top-triangle.png") 0 0 no-repeat;
    height: 7px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: -7px;
    width: 14px;
  }
  p {
    margin: 5px 0;
  }
  .error-icon {
    left: 13px !important;
  }
}

/* Collepse and Tabs custom Style */
/*
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}
*/

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

/* Profile Page */
.profile {
  color:#3f4344;
  font: 12px/15px Verdana, sans-serif;
  margin-left: 160px;

  h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 25px;
    margin-top: 55px;
  }
  .avatar {
    position: relative;
    height: 219px;
    margin: auto;
    width: 218px;

    .ava-img {
      background: no-repeat center transparent;
      height: 219px;
      width: 218px;
    }
    .ava-mask {
      background: url("../images/avatar_mask.png");
      height: 219px;
      position: absolute;
      left:0;
      top:0;
      width: 218px;
      }
  }
  h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin: 14px 0 0;

    &.reviews {
      margin: 20px 0;
    }

    .reviews-icon {
      background: url("../images/reviews-icon.png") 0 0 no-repeat;
      color:#ededed;
      height: 19px;
      font-size: 9px;
      font-style: normal;
      display: inline-block;
      line-height: 14px;
      margin-right: 5px;
      vertical-align: text-top;
      width: 20px;
    }
  }
  .description {
    color:#747575;
    margin:8px 0 16px;
  }
  .c-green {
    color:#00a20f;
  }
  .c-red {
    color:#ff3600;
  }
  .rating {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 19px;
    margin-top: 21px;

    .increase {
      background: url("../images/increase-img.png") 0 0 no-repeat;
      display: inline-block;
      height: 22px;
      margin-left: 10px;
      margin-top: -2px;
      vertical-align: middle;
      width: 21px;
    }
    .reduce {
      background: url("../images/reduce-img.png") 0 0 no-repeat;
      display: inline-block;
      height: 22px;
      margin-left: 5px;
      margin-top: -2px;
      vertical-align: middle;
      width: 21px;
    }
  }
  .seperato {
    margin: 6px 0;
  }
  .info {
    margin-bottom: 5px;

    p {
      margin: 15px 0;
      text-align: right;

      b {
        float: left;
      }
    }
  }
  .info-rating {
    margin-top: 30px;

    .title {
      background: #f2f2f2; /* Old browsers */
      background: -moz-linear-gradient(top,  #f2f2f2 0%, #dadada 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #f2f2f2 0%,#dadada 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #f2f2f2 0%,#dadada 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #f2f2f2 0%,#dadada 100%); /* W3C */
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba(166,166,166,0.68), 0 4px 9px rgba(166,166,166,0.28);
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      padding: 11px;
      text-shadow: 0 1px #fff;
      text-transform: uppercase;
    }
    ul {
      background-color: #ededed;
      border-radius: 5px;
      box-shadow: 0 1px rgba(79,79,79,0.07) inset, 0 1px 1px rgba(255,255,255,0.68);
      margin:20px 0 30px;
      padding: 5px 5px 5px 25px;
      text-align: left;

      li {
        padding: 8px 0;
      }
    }
  }
  .box-comments {
    background: url("../images/profile-reviews-bg.png") no-repeat 0 0;
    padding: 10px;
    text-align: left;
    
    p {
      margin-bottom: 20px;
      margin-top: 0;
    }

    .send-comment {
      background: #fff;
      box-shadow: 0 1px rgba(161, 161, 161, 0.55) inset;
      color: #aaa;
      font: 14px/16px Verdana, sans-serif;
      margin-left: 0;
      margin-top: 15px;
      min-height: 60px;
      padding: 5px 0 0 1%;
      width: 99%;
    }
  }
}

/* Rating Page */
.rating-wrap {
  margin-left: 160px;

  .rating_table {
    .c-green{
      color: #009d0b;
    }
    .c-blue{
      color: #0075c0;
    }
    .c-red{
      color: #ff2c2c;
    }
    .c-orang{
      color: #ffa800;
    }
    .column-1 {
      width: 90px;
    }
    .column-2 {
      width: 190px;
    }
    .column-3 {
      text-align: center;
      width: 140px;
    }
    .column-4 {
      margin-left: 44px;
      text-align: center;
      width: 180px;
    }
    .avatar {
      background: center no-repeat;
      float: left;
      height: 21px;
      margin-right: 10px;
      width: 21px;
    }
    .list_items li {
      padding: 15px 10px 15px 20px;
    }
  }
}

/* Paginator */
.paginator {
  margin-top: 25px;

  ul {
    font-size: 12px;
    line-height: 15px;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;

      a {
        @include box-shadow(0 1px rgba(165,165,165,.91));
        background: rgb(255,255,255);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY2ZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(246,246,246,1)));
        background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);
        background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);
        background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);
        background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 100%);
        border-radius: 10px;
        color: #3e3e3e;
        padding: 4px 13px;
        text-decoration: none;
      }
      &.active a,
      & a:active {
        @include box-shadow(0 1px rgba(255,255,255,.91), inset 0 1px rgba(0,62,131,.55));
        background: rgb(132,186,246);
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0YmFmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3YWIwZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(132,186,246,1) 0%, rgba(122,176,237,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(132,186,246,1)), color-stop(100%,rgba(122,176,237,1)));
        background: -webkit-linear-gradient(top,  rgba(132,186,246,1) 0%,rgba(122,176,237,1) 100%);
        background: -o-linear-gradient(top,  rgba(132,186,246,1) 0%,rgba(122,176,237,1) 100%);
        background: -ms-linear-gradient(top,  rgba(132,186,246,1) 0%,rgba(122,176,237,1) 100%);
        background: linear-gradient(to bottom,  rgba(132,186,246,1) 0%,rgba(122,176,237,1) 100%);
        color: #fff;
      }
    }
  }
}

/* Button Blue */
.btn-blue {
  background: url("../images/blue-btn-bg.png") 0 0 repeat-x;
  color:#141414;
  cursor: pointer;
  display: inline-block;
  font-family: casperbold,sans-serif;
  margin-top: 12px;
  padding: 9px 20px 10px;
  position: relative;

  &:hover {
    background: url("../images/blue-btn-bg-hover.png") 0 0 repeat-x;
    color: #4a84c5;
    text-decoration: none;

    .left {
      background: url("../images/blue-btn-left-bg-hover.png") 0 0 no-repeat;
    }
    .right {
      background: url("../images/blue-btn-rigjt-bg-hover.png") 0 0 no-repeat;
    }
  }
  &:active {
    background: url("../images/blue-btn-bg-active.png") 0 0 repeat-x;
    color: #4a84c5;
    text-decoration: none;

    .left {
      background: url("../images/blue-btn-left-bg-active.png") 0 0 no-repeat;
    }
    .right {
      background: url("../images/blue-btn-rigjt-bg-active.png") 0 0 no-repeat;
    }
  }

  .left {
    background: url("../images/blue-btn-left-bg.png") 0 0 no-repeat;
    height: 39px;
    position: absolute;
    left: 0;
    top:0;
    width: 20px;
  }
  .right {
    background: url("../images/blue-btn-rigjt-bg.png") 0 0 no-repeat;
    height: 39px;
    position: absolute;
    right: 0;
    top:0;
    width: 20px;
  }
}
.work_with_order.btn-blue {
  margin: 0 5px 0 0;
  text-transform: uppercase;
}

/* Work with order */
.work_with_order {
  .accordion-body ul li.icons {
    padding-left: 0;

    .avatar {
      cursor: pointer;
      float: left;
      height: 21px;
      margin-right: 15px;
      width: 21px;
    }

    .work-buttons {
      margin: 5px 0;

      a {
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 100%); /* W3C */
        border-radius: 9px;
        @include box-shadow(0 1px rgba(165,165,165,.91));
        font-size: 10px;
        line-height: 13px;
        margin: 0 3px;
        padding: 3px 10px;

        &:hover {
          text-decoration: none;
        }

        &:active {
          @include box-shadow(0 0 1px rgba(160,160,160,.29));
        }
      }

      .buy {
        color: #22a915;

        i {
          background: url("../images/buy-btn-icon.png") no-repeat 0 0;
          height: 12px;
          display: inline-block;
          margin: 0 5px -4px 0;
          width: 10px;
        }
      }
      .revision {
        color: #ff9600;

        i {
          background: url("../images/revision_btn_icon.png") no-repeat 0 0;
          height: 12px;
          display: inline-block;
          margin: 0 5px -3px 0;
          width: 13px;
        }
      }
      .decline {
        color: #f2190c;

        i {
          background: url("../images/decline_btn_icon.png") no-repeat 0 0;
          height: 11px;
          display: inline-block;
          margin: 0 5px -3px 0;
          width: 11px;
        }
      }
    }
  }
}

/* Light Green btn */
.light-green-btn-wrapper {
  padding-right: 55px;
}
.light-green-btn {
  background: #c4febf; /* Old browsers */
  background: -moz-linear-gradient(top,  #c4febf 0%, #bbf5b6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4febf), color-stop(100%,#bbf5b6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #c4febf 0%,#bbf5b6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #c4febf 0%,#bbf5b6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #c4febf 0%,#bbf5b6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #c4febf 0%,#bbf5b6 100%); /* W3C */
  border-radius: 17px;
  @include box-shadow(0 1px rgba(63,163,52,.58));
  color:#373737;
  cursor: pointer;
  display: inline-block;
  font-family: casperbold,sans-serif;
  margin: 16px 0 10px;
  padding: 8px 25px 6px;

  &:hover {
    color:#373737;
    text-decoration: none;
  }

  i {
    background: url("../images/light_green_btn_top_arrow.png") 0 0 no-repeat;
    height: 15px;
    margin: 2px 0 0 15px;
    width: 10px;
  }
}

/* Settings page */
.settings {
  margin-left: 160px;

  h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 53px;
    margin-top: 57px;
  }
  h2 {
    font-size: 14px;
    line-height: 20px;
    margin: 26px 0 16px;
    text-transform: uppercase;
  }
  label {
    font-size: 12px;
  }
  input {
    margin-bottom: 14px;
  }
  p {
    font-size: 12px;
  }
  .change-avatar {
    position: relative;
    height: 219px;
    margin: 20px auto 16px;
    width: 218px;

    .ava-img {
      background: no-repeat center transparent;
      height: 219px;
      width: 218px;
    }
    .ava-mask {
      background: url("../images/change_avatar_mask.png");
      height: 219px;
      position: absolute;
      left:0;
      top:0;
      width: 218px;
    }
    a {
      bottom: 38px;
      color: #fff;
      left: 54px;
      position: absolute;
      text-decoration: underline;
    }
  }
  .desc-edit {
    margin-left: 227px;
    text-align: center;
  }
  .social {
    height: 210px;
    position: relative;

    .avatar-mini {
      height: 152px;
      margin: 59px auto 0;
      position: relative;
      width: 152px;

      .ava-img {
        background: no-repeat center / 100% auto transparent;
        height: 152px;
        width: 152px;
      }
      .ava-mask {
        background: url("../images/avatar_mask_mini.png");
        height: 152px;
        position: absolute;
        left:0;
        top:0;
        width: 152px;
      }
    }
    .user-name {
      margin-top: 8px;
    }
    .line {
      background: no-repeat 0 0;
      display: none;
      position: absolute;

      &.linkedin-line {
        background-image: url("../images/linkedin-line.png");
        height: 50px;
        left: 142px;
        top: 7px;
        width: 130px;
      }
      &.facebook-line {
        background-image: url("../images/facebook-line.png");
        height: 71px;
        left: 412px;
        top: -19px;
        width: 60px;
      }
      &.mail-ru-line {
        background-image: url("../images/mail-ru-line.png");
        height: 33px;
        left: 106px;
        top: 80px;
        width: 163px;
      }
      &.g-pluse-line {
        background-image: url("../images/g-pluse-line.png");
        height: 34px;
        left: 412px;
        top: 101px;
        width: 134px;
      }
      &.webmoney-line {
        background-image: url("../images/webmoney-line.png");
        height: 12px;
        left: 279px;
        top: 7px;
        width: 15px;
      }
      &.vk-line {
        background-image: url("../images/vk-line.png");
        height: 36px;
        left: 238px;
        top: 127px;
        width: 52px;
      }
      &.yandex-line {
        background-image: url("../images/yandex-line.png");
        height: 31px;
        left: 417px;
        top: 48px;
        width: 193px;
      }
      &.twitter-line {
        background-image: url("../images/twitter-line.png");
        height: 49px;
        left: 397px;
        top: 126px;
        width: 67px;
      }
    }
    .icon {
      background: no-repeat center;
      border-radius: 50%;
      display: block;
      height: 60px;
      position: absolute;
      width: 60px;

      &.linkedin {
        background-image: url("../images/twitter-small-icon.png");
        left: 123px;
        top: -21px;

        &:hover {
          background-image: url("../images/twitter-small-icon-hover.png");
        }
      }
      &.facebook {
        background-image: url("../images/twitter-small-icon.png");
        left: 461px;
        top: -25px;

        &:hover {
          background-image: url("../images/twitter-small-icon-hover.png");
        }
      }
      &.mail-ru {
        background-image: url("../images/twitter-small-icon.png");
        left: 72px;
        top: 72px;

        &:hover {
          background-image: url("../images/twitter-small-icon-hover.png");
        }
      }
      &.g-pluse {
        background-image: url("../images/twitter-small-icon.png");
        left: 533px;
        top: 100px;

        &:hover {
          background-image: url("../images/twitter-small-icon-hover.png");
        }
      }
      &.webmoney {
        background-image: url("../images/twitter-small-icon.png");
        left: 229px;
        top: -37px;

        &:hover {
          background-image: url("../images/twitter-small-icon-hover.png");
        }
      }
      &.vk {
        background-image: url("../images/twitter-small-icon.png");
        left: 186px;
        top: 121px;

        &:hover {
          background-image: url("../images/twitter-small-icon-hover.png");
        }
      }
      &.yandex {
        background-image: url("../images/twitter-small-icon.png");
        left: 586px;
        top: 28px;

        &:hover {
          background-image: url("../images/twitter-small-icon-hover.png");
        }
      }
      &.twitter {
        background-image: url("../images/twitter-small-icon.png");
        left: 438px;
        top: 142px;

        &:hover {
          background-image: url("../images/twitter-small-icon-hover.png");
        }
      }
    }
    &.logged-linkedin {
      .linkedin {
        background-image: url("../images/twitter-large-icon.png") !important;
        height: 85px;
        left: 111px;
        top: -34px;
        width: 85px;
      }
      .linkedin-line {display: block;}
    }
    &.logged-facebook {
      .facebook {
        background-image: url("../images/twitter-large-icon.png") !important;
        left: 446px;
        top: -38px;
        height: 85px;
        width: 85px;
      }
      .facebook-line {display: block;}
    }
    &.logged-mail-ru {
      .mail-ru {
        background-image: url("../images/twitter-large-icon.png") !important;
        left: 60px;
        top: 60px;
        height: 85px;
        width: 85px;
      }
      .mail-ru-line {display: block;}
    }
    &.logged-g-pluse {
      .g-pluse {
        background-image: url("../images/twitter-large-icon.png") !important;
        height: 85px;
        left: 523px;
        top: 96px;
        width: 85px;
      }
      .g-pluse-line {display: block;}
    }
    &.logged-webmoney {
      .webmoney {
        background-image: url("../images/twitter-large-icon.png") !important;
        height: 85px;
        left: 214px;
        top: -64px;
        width: 85px;
      }
      .webmoney-line {display: block;}
    }
    &.logged-vk {
      .vk {
        background-image: url("../images/twitter-large-icon.png") !important;
        height: 85px;
        left: 176px;
        top: 130px;
        width: 85px;
      }
      .vk-line {display: block;}
    }
    &.logged-yandex {
      .yandex {
        background-image: url("../images/twitter-large-icon.png") !important;
        height: 85px;
        left: 562px;
        top: 1px;
        width: 85px;
      }
      .yandex-line {display: block;}
    }
    &.logged-twitter {
      .twitter {
        background-image: url("../images/twitter-large-icon.png") !important;
        height: 85px;
        left: 438px;
        top: 142px;
        width: 85px;
      }
      .twitter-line {display: block;}
    }
  }
}