.view_orders_listing {
  margin: 0;
  padding-right: 55px;

  .accordion-heading .accordion-toggle {

    .title-left {
      background: url("../images/orders_listing_button_left.png") no-repeat;
      height: 39px;
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
    }
    &.title {
      background: url("../images/orders_listing_button_bg.png") repeat-x;
      color: #3f4344;
      display: block;
      font-family: casperregular;
      font-style: normal;
      margin-bottom: 5px;
      padding: 8px 26px 11px;
      position: relative;
      text-shadow: 0 1px 0 rgba(255,255,255,0.54);
      cursor: pointer;
      .quantity {
        &.color-red {
          color:#ff0000;
        }
      }
    }
    .title-right {
      background: url("../images/orders_listing_button_right.png") no-repeat;
      height: 39px;
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
    }
  }
  .accordion-heading.active{
    -webkit-transition: background 0.35s ease;
    -moz-transition: background 0.35s ease;
    -o-transition: background 0.35s ease;
    transition: background 0.35s ease;

      .title-left {
        background: url("../images/button_yellow_left.png") no-repeat;
      }
      .title {
        background: url("../images/button_yellow.png") repeat-x;
      }
      .title-right {
        background: url("../images/button_yellow_right.png") no-repeat;
      }
  }
  .accordion-body {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li.icons {
        background: url("../images/view_orders_listing_line.png") center bottom no-repeat;
        color:#393939;
        padding: 5px 47px 15px 35px;
      }
    }
    .edit-form-wrap {
      display: none;

      &.active {
        display: block;
      }

      .edit-form-inner {
        margin-bottom: 13px;

        .delete-icon {
          top:67px !important;
        }

        .comments-count {
          background-color: #e4e4e4;
          border-top: 1px solid #bdbdbd;
          border-radius: 4px;
          color:#3b3b3b;
          float: left;
          margin-right: 5px;
          padding: 5px 4px;
          text-align: center;

          span {
            display: block;
          }
        }

        textarea,
        .ankors-editor {
          background: #ffffff;
          border: 1px solid #ccc;
          border-radius: 4px;
          color:#3f4344;
          height: 50px;
          padding: 10px;
          width: 335px;

          &:focus {
            border-color: #ffc000;
            box-shadow: 0 1px 2px rgba(228,154,55,0.74) inset;
          }
        }
        .ankors-editor{margin-left: 30px;}
      }
    }
  }
}
.tabs-wrapper {

  .nav-tabs {
    font-family: Verdana, sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      float: left;
      margin-bottom: -3px;

      a {
        color: #4a84c5;
        display: block;
        font-weight: bold;
        padding: 12px 20px;
      }
      &.active {
        background: url("../images/tab_right_corners_bg.png") right top no-repeat;

        a {
          background: url("../images/tab_left_corners_bg.png") 0 0 no-repeat;
          color:#3f4344;
        }
      }
      &.first.active a {
        background: url("../images/tab_left_direct_corners_bg.png") 0 0 no-repeat;
      }
    }
  }
  .tab-content {
    background: url("../images/tabs_bg.png") no-repeat 0 0;
    font-family: Verdana, sans-serif;
    padding: 10px;

    #orderDescription {

      .order-description-wrapper {
        font-size: 12px;

        .title {
          display: block;
        }
        h4 {
          margin-bottom: 5px;
        }
        p {
          margin-top: 0;
        }
        .span4 {
          width: 226px;
        }
        .grey-text {
          color:#909090;
          font-style: italic;
        }

      }
    }
    #orderComments {
      padding: 0 10px;
    }
  }
}

.icons {
  position: relative;

  .icon {
    cursor: pointer;
    position: absolute;

    &.small-icon {
      height: 10px;
      width: 10px;

      &.allowed-icon {
        background: url("../images/allowed_small.png") center no-repeat;
      }
      &.ban-icon {
        background: url("../images/ban_small.png") center no-repeat;
      }
      &.right-icon {
        right: -19px;
      }
      &.left-icon {
        left: -19px;
      }
    }

    &.large-icon {
      height: 22px;
      width: 22px;

      &.time_icon {
        background: url("../images/clock.png") center no-repeat;
      }
      &.allowed-icon {
        background: url("../images/allowed_large.png") center no-repeat;
      }
      &.ban-icon {
        background: url("../images/ban_large.png") center no-repeat;
      }
      &.warning-icon {
        background: url("../images/warning_large.png") center no-repeat;
      }
      &.no-comments-icon {
        background: url("../images/no_comments.png") center no-repeat;
      }
      &.delete-icon {
        background: url("../images/delete_icon.png") center no-repeat;
        display: none;

        &:hover {
          background: url("../images/delete_hover_icon.png") center no-repeat;
        }
      }
      &.comments-icon {
        background: url("../images/comments_icon.png") center no-repeat;
        color:#fff;
        font-size:8px;
        font-style: normal;
        padding-bottom: 1px;
        text-align: center;
      }
      &.error-icon {
        background: url("../images/large-error-icon.png") center no-repeat;
      }
      &.right-icon {
        right: 3px;
      }
      &.left-icon {
        left: 3px;
      }
    }
    &.top-icon {
      top:6px;
    }
    &.right_content-icon {
      right: 0;
    }
    &.center-icon {
      margin-top: -15px;
      right: 27px;
      top: 50%;
    }
  }
  &:hover {

    .delete-icon {
      display: block !important;
    }
  }

}
.error-box {
  background: rgb(254,249,249);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGY1ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(254,249,249,1) 0%, rgba(253,245,248,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,249,249,1)), color-stop(100%,rgba(253,245,248,1)));
  background: -webkit-linear-gradient(top,  rgba(254,249,249,1) 0%,rgba(253,245,248,1) 100%);
  background: -o-linear-gradient(top,  rgba(254,249,249,1) 0%,rgba(253,245,248,1) 100%);
  background: -ms-linear-gradient(top,  rgba(254,249,249,1) 0%,rgba(253,245,248,1) 100%);
  background: linear-gradient(to bottom,  rgba(254,249,249,1) 0%,rgba(253,245,248,1) 100%);
  border: solid 1px #f8c8c8;
  border-radius: 5px;
  box-shadow: 0 3px 4px rgba(186,132,132,.65);
  color:#000;
  font-family: "casperregular";
  margin: 5px 0;
  padding: 10px 20px 20px 45px;

  .top-triangle {
    background: url("../images/error-box-top-triangle.png") 0 0 no-repeat;
    height: 7px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    top: -7px;
    width: 14px;
  }
  p {
    margin: 5px 0;
  }
  .error-icon {
    left: 13px !important;
  }
}


/*
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}
*/

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.fade.in {
  opacity: 1;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}
.profile {
  color:#3f4344;
  font: 12px/15px Verdana, sans-serif;
  margin-left: 160px;

  h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 25px;
    margin-top: 55px;
  }
  .avatar {
    position: relative;
    height: 219px;
    margin: auto;
    width: 218px;

    .ava-img {
      background: no-repeat center transparent;
      height: 219px;
      width: 218px;
    }
    .ava-mask {
      background: url("../images/avatar_mask.png");
      height: 219px;
      position: absolute;
      left:0;
      top:0;
      width: 218px;
      }
  }
  h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin: 14px 0 0;

    &.reviews {
      margin: 20px 0;
    }

    .reviews-icon {
      background: url("../images/reviews-icon.png") 0 0 no-repeat;
      color:#ededed;
      height: 19px;
      font-size: 9px;
      font-style: normal;
      display: inline-block;
      line-height: 14px;
      margin-right: 5px;
      vertical-align: text-top;
      width: 20px;
    }
  }
  .description {
    color:#747575;
    margin:8px 0 16px;
  }
  .c-green {
    color:#00a20f;
  }
  .c-red {
    color:#ff3600;
  }
  .rating {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 19px;
    margin-top: 21px;

    .increase {
      background: url("../images/increase-img.png") 0 0 no-repeat;
      display: inline-block;
      height: 22px;
      margin-left: 10px;
      margin-top: -2px;
      vertical-align: middle;
      width: 21px;
    }
    .reduce {
      background: url("../images/reduce-img.png") 0 0 no-repeat;
      display: inline-block;
      height: 22px;
      margin-left: 5px;
      margin-top: -2px;
      vertical-align: middle;
      width: 21px;
    }
  }
  hr {
    background: #fbfbfb;
    border-color:#e5e3e3;
    border-style: solid;
    border-width: 2px 0 0 0;
  }
  .info {
    margin-bottom: 5px;

    p {
      margin: 15px 0;
      text-align: right;

      b {
        float: left;
      }
    }
  }
  .info-rating {
    margin-top: 30px;

    .title {
      background: #f2f2f2; /* Old browsers */
      background: -moz-linear-gradient(top,  #f2f2f2 0%, #dadada 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dadada)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dadada 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #f2f2f2 0%,#dadada 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #f2f2f2 0%,#dadada 100%); /* IE10+ */
      background: linear-gradient(to bottom,  #f2f2f2 0%,#dadada 100%); /* W3C */
      border-radius: 5px;
      box-shadow: 0 1px 1px rgba(166,166,166,0.68), 0 4px 9px rgba(166,166,166,0.28);
      font-size: 14px;
      font-weight: bold;
      line-height: 20px;
      padding: 11px;
      text-shadow: 0 1px #fff;
      text-transform: uppercase;
    }
    ul {
      background-color: #ededed;
      border-radius: 5px;
      box-shadow: 0 1px rgba(79,79,79,0.07) inset, 0 1px 1px rgba(255,255,255,0.68);
      margin:20px 0 30px;
      padding: 5px 5px 5px 25px;
      text-align: left;

      li {
        padding: 8px 0;
      }
    }
  }
  .box-comments {
    background: url("../images/profile-reviews-bg.png") no-repeat 0 0;
    padding: 10px;
    text-align: left;
    
    p {
      margin-bottom: 20px;
      margin-top: 0;
    }

    .send-comment {
      background: #fff;
      box-shadow: 0 1px rgba(161, 161, 161, 0.55) inset;
      color: #aaa;
      font: 14px/16px Verdana, sans-serif;
      margin-left: 0;
      margin-top: 15px;
      min-height: 60px;
      padding: 5px 0 0 1%;
      width: 99%;
    }
  }
}
