@font-face {
    font-family: 'casperbold';
    src: url('casper_b.eot');
    src: url('casper_b.eot?#iefix') format('embedded-opentype'),
         url('casper_b.woff') format('woff'),
         url('casper_b.ttf') format('truetype'),
         url('casper_b.svg#casperbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'casperbold_italic';
    src: url('casper_b_it.eot');
    src: url('casper_b_it.eot?#iefix') format('embedded-opentype'),
         url('casper_b_it.woff') format('woff'),
         url('casper_b_it.ttf') format('truetype'),
         url('casper_b_it.svg#casperbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'casperitalic';
    src: url('casper_it.eot');
    src: url('casper_it.eot?#iefix') format('embedded-opentype'),
         url('casper_it.woff') format('woff'),
         url('casper_it.ttf') format('truetype'),
         url('casper_it.svg#casperitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'casperregular';
    src: url('casper_r.eot');
    src: url('casper_r.eot?#iefix') format('embedded-opentype'),
    url('casper_r.woff') format('woff'),
    url('casper_r.ttf') format('truetype'),
    url('casper_r.svg#casperregular') format('svg');
    font-weight: normal;
    font-style: normal;

}